* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: #000;
  color: aliceblue;
  font-family: 'Futura', sans-serif;
}

.time {
  position: absolute;
  right: 80px;
  bottom: 3vh;
}

.fourtwenty {
  filter: drop-shadow(0px 0px 5px #52ce00) drop-shadow(0px 0px 12px #52ce00);
}

#hour {
  position: absolute;
  font-size: 6rem;
  text-align: right;
  letter-spacing: -.15rem;
  right: 20px;
  bottom: 45px;
}

#min {
  position: absolute;
  font-size: 3rem;
  text-align: right;
  right: -20px;
  bottom: 110px;
  letter-spacing: -.15rem;
}

#sec {
  position: absolute;
  font-size: 1rem;
  text-align: left;
  right: -45px;
  bottom: 128px;
  opacity: .5;
  color: #657ac5;
}

.smoke {
  position: absolute;
  right: -65px;
  bottom: 90px;
  filter: grayscale() opacity(.6);
  z-index: -1;
  display: none;
}

.show {
  display: block;
}

@media screen and (max-width: 450px) {
 
  .time {
    position: absolute;
    bottom: 35%;
    right: 20vw;
  }
  
  .smoke {
    bottom: 48%;
    right: -65px;
  }
}